:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #F2F2F2;
  background: linear-gradient(rgba(242,242,242,.83), rgba(242,242,242,.83)), url('google.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-image:   linear-gradient(to right, #4285F4 25%, #EA4335 25%, #EA4335 50%, #FBBC05 50%, #FBBC05 75%, #34A853 75%) 5;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  width: 400px;
}

.form {
  padding: 10px 20px;
}

h1, h3 {
    text-align: center;
    margin-bottom: 5px;
}

.form-field {
    margin-bottom: 5px;
}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}

.form-field small {
    color: var(--error-color);
}

/* button */
.btn {
    width: 100%;
    padding: 3%;
    background: #015958;
    color: #fff;
    border: solid 2px #015958;
}

.btn:hover {
    background: #015958;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}
